<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ forms.as_p }}
        <button type="submit">Upload</button>
    </form>
    {% if ins %}
    <h2>Successfully Uploaded</h2>
    <img src="{{ins.image.url}}" alt="" height="35%" width="35%">
    <h5>{{ins.caption}}</h5>
    {% endif %}
    {% for x in rep reversed %}
    <h2>Uploaded by {{x.user}}</h2>
    <img src="{{x.image.url}}" alt="" height="35%" width="35%">
    <h5>{{x.caption}}</h5><hr>
    {% endfor %}
</body>
</html>